// html::before
//   @include bg_full
//   @include bg_section

.App
    position: relative
    height: 100vh

body
    background-position: center
    background-size: 110% 110%
    background-repeat: no-repeat
    height: 100%
    margin: 0
    padding: 0
    overflow-x: hidden

    a
        text-decoration: none
        color: $text_icons
        outline: 0
        
        &:hover
            color: $text_icons
            text-decoration: none
     

.hide
    display: none

.mark
    border: 1px solid #1dde2c
    background-color: transparent !important

