// COLORS
//Choose color palette ==> https://www.materialpalette.com/

$primary-color: #fff;
$dark-primary-color: #0097A7;
$light-primary-color: #B2EBF2;
$accent-color: #24AAC5;
$text_icons: #fff;
$primary-text: #212121;
$card-bg: rgba(36, 170, 197, 0.6);
$side-bg: rgba(36, 170, 197, 0.6);
$button-bg: #24AAC5;
