$carousel-width: 700px

.work-wrap
    position: relative
    width: $carousel-width
    height: 400px
    width: 780px
    margin: 0 10px
    display: flex
    align-items: center

.work-nav-wrap
    position: absolute
    display: flex
    flex-direction: column
    z-index: 100
    right: -50px
    height: 85px
    box-shadow: $shadow
    cursor: pointer

    .work-nav-button
        width: 70px
        border: none
        margin: 0 auto
        padding: 0
        background-color: $primary-color
        color: #24AAC5
        padding: 7px 0
            

.desktop, .mobile
    position: absolute
    filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.6))

.desktop
    max-width: 700px
    top: -150px

.mobile
    max-width: 150px
    top: 100px
    left: 150px
